@import url(partials/normalize.css);
@font-face {
  font-family: 'AmaticSC';
  src: url("../fonts/AmaticSC-Regular.ttf"); }
@font-face {
  font-family: 'AmaticSC';
  font-weight: bold;
  src: url("../fonts/AmaticSC-Bold.ttf"); }
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #403F44;
  font-family: 'AmaticSC', Arial, serif; }

html {
  scroll-behavior: smooth; }

.container {
  width: 80%;
  max-width: 1200px;
  margin: auto; }

.articleHeader {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1rem; }

span {
  color: #347F84; }

section {
  padding: 10px 0; }

article {
  padding: 20px 0; }

button:hover {
  cursor: pointer; }

header {
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  z-index: 1001;
  font-weight: bold; }
  header .container {
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 15px; }
  header .name {
    font-size: 1rem;
    text-transform: uppercase;
    display: inline-block; }
  header .menu {
    width: 100%;
    display: none; }
    header .menu__item {
      display: block;
      width: 100%;
      text-align: center;
      text-decoration: none; }
    header .menu__toggle {
      background-color: transparent;
      border: none;
      vertical-align: middle;
      display: inline-block; }

#home {
  height: 300px;
  background-size: cover;
  position: relative;
  background-position: center; }
  #home::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: -1px;
    left: 0;
    right: 0;
    border-bottom: 30px solid white;
    border-right: 100vw solid transparent; }
  #home .container {
    height: 100%;
    padding-top: 215px; }
  #home .sectionHeader {
    color: white; }

.portfolio__items {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px; }
.portfolio__image, .portfolio__iframe {
  width: 100%; }
.portfolio__iframe {
  height: 100%;
  position: relative; }

.contacts {
  text-align: center; }
  .contacts__header {
    margin-bottom: 1rem; }
  .contacts__phone {
    font-size: 1.4rem;
    font-weight: bold; }
  .contacts__email a {
    text-decoration: none; }

.footer {
  text-align: center;
  padding: 20px 0; }
  .footer__text {
    margin-bottom: 1.2rem; }

@media screen and (min-width: 425px) {
  .portfolio__items {
    grid-template-columns: 1fr 1fr; } }
@media screen and (min-width: 768px) {
  #about .aboutSection {
    display: flex; }
    #about .aboutSection__header {
      text-align: right;
      padding-right: 1rem;
      flex: 1 1 100px; }
    #about .aboutSection__paragraph {
      flex: 1 1 calc(100% - 100px); }

  .portfolio__items {
    grid-template-columns: 1fr 1fr 1fr; }

  header .menu {
    width: auto;
    display: flex !important;
    align-items: center; }
    header .menu__item {
      width: auto;
      margin: 0 .5rem; }
    header .menu__toggle {
      display: none; } }
@media screen and (min-width: 1024px) {
  html {
    font-size: 20px; } }
@media screen and (min-width: 1440px) {
  #home {
    height: 400px; }

  #home .container {
    padding-top: 300px; }

  #home::after {
    border-bottom-width: 45px; } }

/*# sourceMappingURL=main.css.map */
